ul.a {list-style-type: circle;}
ul.b {list-style-type: square;}
ol.c {list-style-type: upper-roman;}
ol.d {list-style-type: lower-alpha;}

table {border-collapse: collapse;}

div.select {
    border: 1px solid rgb(0, 0, 0);
    background-color: whitesmoke;
    color: black;
    padding: 10;
    position: fixed;
    bottom: 10px;
    right: 10px;
}