body {
    color: cyan;
    background-color: #ffff99;
}

/* background-repeat values: repeat, repeat-y, repeat-x, no-repeat */
body {
    background-image: url("../img/ejercicio03_imagen01.gif");
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: center;
}

body {
    background-image: url("../img/ejercicio03_imagen01.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/* attachment values: scroll, fixex, loca, initial, inherit. */
body {
    background-image: url("../img/ejercicio03_imagen01.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

body {
    background-color: plum;
    background-image: url("../img/ejercicio03_imagen02.jpg");
    background-size: cover;
}


/* Selector de ejercicio */
div.select {
    border: 1px solid rgb(0, 0, 0);
    background-color: whitesmoke;
    color: black;
    padding: 10;
    position: fixed;
    bottom: 10px;
    right: 10px;
}