h1 {
    color: green;
}

.azul{
    color: blue;
}
#cabecera5 {
    color: red
}
div.select {
    border: 1px solid rgb(0, 0, 0);
    background-color: whitesmoke;
    color: black;
    padding: 10;
    position: fixed;
    bottom: 10px;
    right: 10px;
}