/* Font Style */
p.normal {font-style: normal;}
p.italic {font-style: italic;}
p.oblique {font-style: oblique;}

/* Font Size */
h1 {font-size: 40px;}
h2 {font-size: 30px;}
h3 {font-size: 2.5em;}
h4 {font-size: 1.875em;}
p {font-size: 0.875em;}

/* Font weight */
p.normal {font-weight: normal;}
p.light {font-weight: lighter}
p.thick {font-weight: bold;}
p.thicker {font-weight: 900;}

/* Font variant */
p.nomral {font-variant: normal;}
p.small {font-variant: small-caps;}

/*  (emty-cells) Eliminar celdas vacias
    (border-collapse) Modificar hueco entre borde de celdas y tabla */
table , td, th
{
    border: 1px solid black;
    border-collapse: separate;
    empty-cells: hide;
}


div.select {
    border: 1px solid rgb(0, 0, 0);
    background-color: whitesmoke;
    color: black;
    padding: 10;
    position: fixed;
    bottom: 10px;
    right: 10px;
}